src/WebServiceSendsEvents/WebServiceWindowsClient/Web References/com.yatuta/YatutaWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://yatuta.com/webservices/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://yatuta.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://yatuta.com/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Add">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Subtract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SubtractResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Multiply">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MultiplyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="MultiplyResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Divide">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="A" type="s:float" />
            <s:element minOccurs="1" maxOccurs="1" name="B" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DivideResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DivideResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StartSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="tns:UserID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserID">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_UserID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="StartSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="StopSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StopSessionResponse">
        <s:complexType />
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:UserID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Logout">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="tns:UserID" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogoutResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetAliveIntervalSec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="sec" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAliveIntervalSecResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAliveInterval">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAliveIntervalResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAliveIntervalResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="location" type="tns:GpsLocation" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GpsLocation">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="_LatitudeDeg" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_LongitudeDeg" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="_ElevationMeters" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="ReportLocationResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersAround">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
            <s:element minOccurs="1" maxOccurs="1" name="distanceMeters" type="s:unsignedInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUsersAroundResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersAroundResult" type="tns:ArrayOfUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_UserID" type="tns:UserID" />
          <s:element minOccurs="0" maxOccurs="1" name="_UserDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_LastReportedLocation" type="tns:GpsLocation" />
          <s:element minOccurs="1" maxOccurs="1" name="_TimeOfLastReportedLocation" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="_LocationName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="userIdTo" type="tns:UserID" />
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserInfoResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="_Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Country" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="_Languages" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="_Hobbies" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="_PositionName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetUserInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sessionID" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="userInfo" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserInfoResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddSoapIn">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="AddSoapOut">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="SubtractSoapIn">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="SubtractSoapOut">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="MultiplySoapIn">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="MultiplySoapOut">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="DivideSoapIn">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="DivideSoapOut">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="StartSessionSoapIn">
    <wsdl:part name="parameters" element="tns:StartSession" />
  </wsdl:message>
  <wsdl:message name="StartSessionSoapOut">
    <wsdl:part name="parameters" element="tns:StartSessionResponse" />
  </wsdl:message>
  <wsdl:message name="StopSessionSoapIn">
    <wsdl:part name="parameters" element="tns:StopSession" />
  </wsdl:message>
  <wsdl:message name="StopSessionSoapOut">
    <wsdl:part name="parameters" element="tns:StopSessionResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapIn">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="LogoutSoapOut">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="SetAliveIntervalSecSoapIn">
    <wsdl:part name="parameters" element="tns:SetAliveIntervalSec" />
  </wsdl:message>
  <wsdl:message name="SetAliveIntervalSecSoapOut">
    <wsdl:part name="parameters" element="tns:SetAliveIntervalSecResponse" />
  </wsdl:message>
  <wsdl:message name="GetAliveIntervalSoapIn">
    <wsdl:part name="parameters" element="tns:GetAliveInterval" />
  </wsdl:message>
  <wsdl:message name="GetAliveIntervalSoapOut">
    <wsdl:part name="parameters" element="tns:GetAliveIntervalResponse" />
  </wsdl:message>
  <wsdl:message name="ReportLocationSoapIn">
    <wsdl:part name="parameters" element="tns:ReportLocation" />
  </wsdl:message>
  <wsdl:message name="ReportLocationSoapOut">
    <wsdl:part name="parameters" element="tns:ReportLocationResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersAroundSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsersAround" />
  </wsdl:message>
  <wsdl:message name="GetUsersAroundSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersAroundResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="GetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="SetUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:SetUserInfo" />
  </wsdl:message>
  <wsdl:message name="SetUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:SetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserInfo" />
  </wsdl:message>
  <wsdl:message name="UpdateUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="YatutaWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Add">
      <wsdl:input message="tns:AddSoapIn" />
      <wsdl:output message="tns:AddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input message="tns:SubtractSoapIn" />
      <wsdl:output message="tns:SubtractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input message="tns:MultiplySoapIn" />
      <wsdl:output message="tns:MultiplySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input message="tns:DivideSoapIn" />
      <wsdl:output message="tns:DivideSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StartSession">
      <wsdl:input message="tns:StartSessionSoapIn" />
      <wsdl:output message="tns:StartSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StopSession">
      <wsdl:input message="tns:StopSessionSoapIn" />
      <wsdl:output message="tns:StopSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input message="tns:LogoutSoapIn" />
      <wsdl:output message="tns:LogoutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAliveIntervalSec">
      <wsdl:input message="tns:SetAliveIntervalSecSoapIn" />
      <wsdl:output message="tns:SetAliveIntervalSecSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAliveInterval">
      <wsdl:input message="tns:GetAliveIntervalSoapIn" />
      <wsdl:output message="tns:GetAliveIntervalSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReportLocation">
      <wsdl:input message="tns:ReportLocationSoapIn" />
      <wsdl:output message="tns:ReportLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsersAround">
      <wsdl:input message="tns:GetUsersAroundSoapIn" />
      <wsdl:output message="tns:GetUsersAroundSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input message="tns:GetUserInfoSoapIn" />
      <wsdl:output message="tns:GetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUserInfo">
      <wsdl:input message="tns:SetUserInfoSoapIn" />
      <wsdl:output message="tns:SetUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <wsdl:input message="tns:UpdateUserInfoSoapIn" />
      <wsdl:output message="tns:UpdateUserInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YatutaWebServiceSoap" type="tns:YatutaWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://yatuta.com/webservices/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://yatuta.com/webservices/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap:operation soapAction="http://yatuta.com/webservices/Subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://yatuta.com/webservices/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://yatuta.com/webservices/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartSession">
      <soap:operation soapAction="http://yatuta.com/webservices/StartSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopSession">
      <soap:operation soapAction="http://yatuta.com/webservices/StopSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://yatuta.com/webservices/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap:operation soapAction="http://yatuta.com/webservices/Logout" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAliveIntervalSec">
      <soap:operation soapAction="http://yatuta.com/webservices/SetAliveIntervalSec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAliveInterval">
      <soap:operation soapAction="http://yatuta.com/webservices/GetAliveInterval" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportLocation">
      <soap:operation soapAction="http://yatuta.com/webservices/ReportLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersAround">
      <soap:operation soapAction="http://yatuta.com/webservices/GetUsersAround" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://yatuta.com/webservices/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://yatuta.com/webservices/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInfo">
      <soap:operation soapAction="http://yatuta.com/webservices/SetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap:operation soapAction="http://yatuta.com/webservices/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YatutaWebServiceSoap12" type="tns:YatutaWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://yatuta.com/webservices/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Add">
      <soap12:operation soapAction="http://yatuta.com/webservices/Add" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap12:operation soapAction="http://yatuta.com/webservices/Subtract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap12:operation soapAction="http://yatuta.com/webservices/Multiply" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap12:operation soapAction="http://yatuta.com/webservices/Divide" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartSession">
      <soap12:operation soapAction="http://yatuta.com/webservices/StartSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopSession">
      <soap12:operation soapAction="http://yatuta.com/webservices/StopSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://yatuta.com/webservices/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://yatuta.com/webservices/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAliveIntervalSec">
      <soap12:operation soapAction="http://yatuta.com/webservices/SetAliveIntervalSec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAliveInterval">
      <soap12:operation soapAction="http://yatuta.com/webservices/GetAliveInterval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportLocation">
      <soap12:operation soapAction="http://yatuta.com/webservices/ReportLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsersAround">
      <soap12:operation soapAction="http://yatuta.com/webservices/GetUsersAround" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://yatuta.com/webservices/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap12:operation soapAction="http://yatuta.com/webservices/GetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserInfo">
      <soap12:operation soapAction="http://yatuta.com/webservices/SetUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserInfo">
      <soap12:operation soapAction="http://yatuta.com/webservices/UpdateUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YatutaWebService">
    <wsdl:port name="YatutaWebServiceSoap" binding="tns:YatutaWebServiceSoap">
      <soap:address location="http://yatuta.com/webservices/YatutaWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="YatutaWebServiceSoap12" binding="tns:YatutaWebServiceSoap12">
      <soap12:address location="http://yatuta.com/webservices/YatutaWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>